@import "https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i";
@import "https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i&display=swap";
@import "css/animate.min.css";
@import "css/normalize.css";
@import "css/icomoon.css";
@import "css/font-awesome.min.css";
@import "css/meanmenu.css";
@import "css/owl.carousel.min.css";
@import "css/swiper.min.css";
@import "css/slick.css";
@import "css/jquery.fancybox.min.css";
@import "css/jquery-ui.css";
@import "css/nice-select.css";

* {
     box-sizing: border-box !important
}

html {
     scroll-behavior: smooth
}

body {
     color: #666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: 400
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: 400;
     position: relative;
     padding: 0 0 10px;
     font-weight: normal;
     line-height: normal;
     color: #111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 18px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
::after,
::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none !important;
     opacity: 1
}

button:focus {
     outline: none
}

ul,
li,
ol {
     margin: 0;
     padding: 0;
     list-style: none
}

p {
     margin: 0;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px
}

a {
     color: #222;
     text-decoration: none;
     outline: none !important
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out
}

img {
     max-width: 100%;
     height: auto
}

:focus {
     outline: 0
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0
}

.form-control:focus {
     border-color: #0d285d !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25)
}

.navbar-form input {
     border: none !important
}

.badge {
     font-weight: 500
}

blockquote {
     margin: 20px 0;
     padding: 30px
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer
}

.full {
     float: left;
     width: 100%;
     width: 100%;
     float: left;
     margin: 0;
     padding: 0
}

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center
}

.loader img {
     width: 280px
}

.navigation.navbar {
     float: right;
     background: #0d285d;
     clear: both;
     padding: 30px 25px !important;
     border-radius: 64px
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 20px;
     color: #fff;
     font-size: 17px;
     line-height: 20px;
     font-weight: 500
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #03cafc
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #03cafc
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px
}

.login_btn a {
     background: #03cafc;
     padding: 9px 32px !important;
     display: inline;
     border-radius: 20px;
     color: #fff !important;
     margin: 0 10px
}

.login_btn a:hover {
     background: #fff !important
}

.sea_icon a {
     color: #8c8c8c !important
}

.header {
     width: 100%;
     padding: 2px 30px;
     background: transparent;
     position: absolute;
     z-index: 999;
     border-top: #0d285d solid 11px;
     background-color: #0d285d
}

.logo {
     padding-top: 14px;
     padding-bottom: 10px
}

.banner_main {
     background: #fff;
     padding: 147px 0 0
}

.text-bg {
     text-align: center
}

.text-bg h1 {
     color: #070404;
     font-size: 60px;
     line-height: 76px;
     padding-bottom: 45px;
     font-weight: 700;
     text-transform: uppercase
}

.text-bg .read_more {
     border: #1a1a1a solid 2px;
     color: #1a1a1a !important;
     font-weight: 500;
     display: block;
     margin: 0 auto;
     margin-top: 44px
}

#banner1 .carousel-caption {
     position: inherit;
     padding: 0
}

#banner1 .carousel-indicators {
     display: none
}

#banner1 .carousel-control-prev,
#banner1 .carousel-control-next {
     width: 62px;    
     background: transparent;    
     opacity: 1;
     font-size: 30px;
     color: #131215;     
     top: 43%
}

#banner1 .carousel-control-prev:hover,
#banner1 .carousel-control-next:hover,
#banner1 .carousel-control-prev:focus,
#banner1 .carousel-control-next:focus {
     background: transparent;
}

#banner1 a.carousel-control-prev {
     position: absolute;
     right: 10px;
    bottom: 10px;
    padding-top: 80px;
}

#banner1 a.carousel-control-next {
     position: absolute;
     right: 10px;
    bottom: 10px;
    padding-top: 80px;
}

.titlepage h2 {
     font-size: 35px;
     color: #2a2a2c;
     line-height: 45px;
     font-weight: 700;
     padding: 0
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
     width: 100%
}

.read_more {
     font-size: 17px;
     background-color: transparent;
     border: #fff solid 2px;
     color: #1a1a1a;
     padding: 15px 0;
     width: 100%;
     max-width: 222px;
     text-align: center;
     display: inline-block;
     transition: ease-in all .5s;
     font-weight: 500;
     border-radius: 40px
}

.read_more:hover {
     background: #03cafc;
     color: #fff !important;
     transition: ease-in all .5s
}

.about {
     border-bottom: #000 solid 1px;
     padding: 130px 0 90px
}

.about .about_img {
     margin-left: -40px
}

.about .titlepage::before {
     content: "";
     width: 220px;
     height: 411px;
     right: -30px;
     background: url(../images/about_right_cross.jpg);
     background-repeat: no-repeat;
     top: -27px;
     z-index: -100
}

.about .about_img figure {
     margin: 0
}

.about .titlepage {
     border: #000 solid 1px;
     padding: 40px;
     z-index: 10018;
     background: #fff;
     margin-right: 40px
}

.about .titlepage p {
     color: #2a2a2c;
     font-size: 17px;
     line-height: 35px;
     font-weight: 400;
     padding-top: 20px
}

.about .read_more {
     border: #1a1a1a solid 2px;
     color: #1a1a1a;
     font-weight: 500;
     margin-top: 44px
}

.glasses {
     background: #fff;
     margin-top: 90px;
     border-bottom: #000 solid 1px;
     padding: 50px 0 100px
}

.glasses .titlepage {
     text-align: center;
     padding-bottom: 60px
}

.glasses .titlepage p {
     font-size: 17px;
     line-height: 30px;
     font-weight: 400;
     padding-top: 10px
}

.blu {
     color: #03cafc;
     text-transform: initial
}

.glasses .glasses_box {
     display: flex;
     text-align: center;
     border: #555556 solid 1px;
     border-radius: 2px;
     padding: 0 0 30px;
     margin-bottom: 30px;
     align-content: flex-start;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: center
}

.glasses_box1 {
     display: flex;
     background-color: #fcdddd;
     text-align: center;
     border: #2b0202 solid 1px;
     border-radius: 10px 0;
     padding: 0 0 30px;
     margin-bottom: 30px;
     align-content: space-around;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     width: 100%;
     height: 95%
}

.glasses_box1 figure {
     width: 40px;
     height: 40px
}

.texto1 {
     display: flex;
     width: 100%;
     color: blue;
     justify-content: center;
     align-items: center;
     margin: 0;
     padding: 0;
     padding-right: 20px;
     padding-top: 5px;
     height: 22%
}

.container-carro {
     width: 100%;
     margin-right: auto;
     margin-left: auto
}

.textop {
     text-align: left;
     padding-left: 15px;
     padding-right: 15px
}

.açougue {
     color: #300;
     margin-left: 2px;
     margin-right: 5%;
     font-size: 20px
}

.textop2 {
     text-align: left;
     padding-left: 10px;
     padding-right: 8px
}

.glasses_box2 {
     display: flex;
     background-color: #e3fcdd;
     text-align: center;
     border: #092b02 solid 1px;
     border-radius: 0 10px;
     padding: 0 0 30px;
     margin-bottom: 30px;
     align-content: space-around;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     height: 95%;
     width: 100%
}

.glasses_box2 figure {
     width: 40px;
     height: 40px
}

.texto2 {
     display: flex;
     width: 100%;
     height: 20%;
     color: blue;
     justify-content: center;
     align-items: center;
     margin: 0;
     padding: 0;
     padding-right: 20px;
     padding-top: 5px
}

.hort {
     color: #134909;
     margin-left: 2%;
     margin-right: 5%;
     font-size: large;
     font-size: 20px
}

.glasses .read_more {
     border: #1a1a1a solid 2px;
     font-weight: 500;
     display: block;
     margin: 0 auto;
     margin-top: 44px
}

.glasses_box3 {
     display: flex;
     background-color: #faf7d9;
     text-align: center;
     border: #2b2802 solid 1px;
     border-radius: 10px 0;
     padding: 0 0 30px;
     margin-bottom: 30px;
     align-content: space-around;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     width: 100%;
     height: 95%
}

.glasses_box3 figure {
     width: 40px;
     height: 40px
}

.texto3 {
     display: flex;
     width: 100%;
     color: blue;
     justify-content: center;
     align-items: center;
     margin: 0;
     padding: 0;
     padding-right: 20px;
     padding-top: 5px;
     height: 22%
}

.glasses_box3 p {
     text-align: left;
     padding-left: 8px;
     padding-right: 7px
}

.glasses_box3 i {
     text-align: left
}

.entre {
     color: #282900;
     margin-left: 2px;
     margin-right: 5%;
     font-size: 20px
}

.obs {
     font-weight: 700;
     font: italic
}

.glasses_box4 {
     display: flex;
     background-color: #d9dcfa;
     text-align: center;
     border: #03022b solid 1px;
     border-radius: 10px 0;
     padding: 0 0 30px;
     margin-bottom: 30px;
     align-content: space-around;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     width: 100%;
     height: 95%
}

.glasses_box4 figure {
     width: 40px;
     height: 40px;
     margin-right: 10px
}

.texto4 {
     display: flex;
     width: 100%;
     color: blue;
     justify-content: center;
     align-items: center;
     margin: 0;
     padding: 0;
     padding-right: 20px;
     padding-top: 5px;
     height: 22%
}

@media screen and (min-width: 1024px) {
     .glasses_box4 figure {
          width: 40px;
          height: 40px;
          margin-right: -10px;
          margin-left: 10px
     }
}

.glasses_box4 p {
     text-align: left;
     padding-left: 10px;
     padding-right: 10px
}

.quali {
     color: #040029;
     margin-left: 2px;
     margin-right: 5%;
     font-size: 20px
}

.shop {
     margin-top: 0;
     background: #fefdf9;
     border-top: #f2f1ed solid 1px;
     border-bottom: #f2f1ed solid 1px
}

.shop .shop_img figure {
     margin: 0
}

.shop .shop_img figure img {
     width: 100%
}

.padding_right0 {
     padding-right: 0
}

.shop .max_width {
     text-align: left;
     background: #030404;
     height: 100%;
     padding-top: 86px;
     padding-left: 50px;
     padding-bottom: 90px;
     display: flex;
     flex-wrap: wrap
}

.shop .titlepage {
     max-width: 612px;
     width: 100%;
     float: left;
     display: flex;
     flex-direction: column;
     align-items: center;
     align-content: center;
     justify-content: center
}

.shop .titlepage h2 {
     color: #fff;
     border-bottom: #fff solid 1px;
     padding-bottom: 10px;
     float: left;
     clear: both
}

.shop .titlepage p {
     color: #fff;
     font-size: 17px;
     line-height: 30px;
     padding: 40px 0 80px;
     width: 100%;
     display: inline-block
}

.shop .titlepage .read_more {
     color: #fff !important
}

.clients {
     padding: 90px 0 70px
}

.clients .titlepage {
     text-align: center;
     padding-bottom: 0
}

.clients .titlepage p {
     color: #2a2a2c;
     font-size: 17px;
     line-height: 29px;
     padding-top: 10px
}

.clients_box h3 {
     color: #2a2a2c;
     font-size: 26px;
     line-height: 30px;
     padding-top: 23px;
     font-weight: 600;
     text-align: center
}

.clients_box p {
     color: #2a2a2c;
     font-size: 17px;
     line-height: 30px;
     padding-left: 5%
}

.paval {
     font-weight: 300
}

.clients_Carousel .carousel-caption {
     position: inherit;
     padding: 0
}

.clients_box {
     border: #606060 solid 1px;
     padding: 40px 32px 40px 0;
     float: left;
     text-align: left
}

.read_more1 {
     display: flex;
     border: #1a1a1a solid 2px;
     color: #1a1a1a !important;
     border-radius: 20px;
     font-weight: 500;
     display: block;
     margin: 0 auto;
     margin-top: 0;
     text-align: center;
     width: 20%;
     font-size: 17px;
     background-color: transparent;
     border: #000 solid 2px;
     color: #1a1a1a;
     padding: 15px 0;
     width: 100%;
     max-width: 222px;
     text-align: center;
     display: inline-block;
     transition: ease-in all .5s;
     font-weight: 500;
     border-radius: 40px;
     display: flex;
     justify-content: center
}

.read_more1:hover {
     background: #0d285a;
     color: #fff !important;
     transition: ease-in all .5s
}

#myCarousel .carousel-indicators {
     bottom: -70px
}

#myCarousel .carousel-indicators li {
     width: 12px;
     height: 12px;
     border-radius: 20px;
     background: #111;
     margin-top: -50px
}

#myCarousel .carousel-indicators .active {
     background: #8c8a8a
}

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
     display: none
}

.estrelas {
     position: relative;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-content: center;
     justify-content: center;
     align-items: baseline
}

.contact {
     margin-top: 90px;
     position: relative
}

.contact .main_form h3 {
     color: #4b4b4c;
     margin-bottom: 15px;
     font-size: 27px;
     line-height: 30px;
     text-align: center;
     display: block;
     font-weight: 600;
     padding: 0
}

#map {
     height: 100%;
     min-height: 732px
}

.main_form {
     display: flex;
     z-index: 999;
     background: #fff;
     padding: 40px 50px;
     margin-top: 107px
}

.main_form .contactus {
     border-bottom: #111 solid 1px;
     margin-bottom: 25px;
     width: 100%;
     height: 57px;
     background: transparent;
     color: #4b4b4c;
     font-size: 18px;
     font-weight: 400;
     border-top: inherit;
     border-left: inherit;
     border-right: inherit
}

.main_form .contactusmess {
     border-bottom: #111 solid 1px;
     margin-bottom: 25px;
     width: 100%;
     padding-top: 40px;
     padding-bottom: 14px;
     background: transparent;
     color: #4b4b4c;
     font-size: 18px;
     font-weight: 400;
     border-top: inherit;
     border-left: inherit;
     border-right: inherit
}

.send_btn {
     background: #03cafc;
     font-weight: 600;
     font-size: 18px;
     width: 100%;
     color: #fff;
     height: 50px;
     border-radius: 30px;
     margin-top: 20px;
     transition: ease-in all .5s;
     text-transform: uppercase
}

.send_btn:hover {
     background: #4b4b4c;
     transition: ease-in all .5s
}

#request ::placeholder {
     color: #4b4b4c;
     opacity: 1
}

.mapacabeçalho {
     margin: 0;
     margin-top: 40px;
     padding: 0;
     width: 100%;
     background: #0d285a
}

.mapacabeçalho-texto h4 {
     padding-top: 10px;
     display: flex;
     color: #fff;
     font-family: Roboto, sans-serif;
     margin-left: 10px
}

.mapacabeçalho-texto h5 {
     display: flex;
     color: silver;
     margin-left: 15px
}

.footer {
     background: #0d285a;
     padding-top: 90px;
     text-align: center;
     font-family: 'Roboto', sans-serif
}

.horarios {
     color: #fff;
     text-decoration-line: underline;
     text-underline-position: below
}

.hourtext {
     color: #fff;
     padding: 0
}

.hourtext1 {
     color: #fff;
     padding: 0;
     margin-top: -3px
}

ul.location_icon {
     text-align: center
}

ul.location_icon li {
     display: inline-block;
     font-size: 17px;
     line-height: 20px;
     color: #fff;
     text-align: center;
     padding: 0 40px
}

ul.location_icon li a {
     font-size: 40px;
     color: #fff;
     line-height: 30px;
     display: block
}

.copyright {
     margin-top: 80px;
     padding-bottom: 20px;
     background: #fbfdfd
}

.copyright p {
     color: #292929;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     padding-top: 25px;
     font-weight: 400
}

.copyright a {
     color: #292929
}

.copyright a:hover {
     color: #03cafc
}

.position_head .header {
     position: inherit;
     background-color: #0d285d
}

.position_head .glasses,
.shop {
     margin-bottom: 90px
}

.rowcont {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     margin-right: -15px;
     margin-left: -15px;
     justify-content: center
}

.conf-promo {
     display: flex;
     flex-direction: column;
     align-items: center
}

.conf-promo .titlepage {
     border: 0;
     text-align: center
}

.conf-promo .titlepage p {
     border: 0;
     text-align: center;
     padding: 0
}

.img-tab {
     position: relative;
     width: 100%;
     min-height: 1px;
     padding-right: 15px;
     padding-left: 15px;
     padding-bottom: 5px
}

.tabloide-img {
     width: 100%
}

.tabloide-img img {
     width: 100%;
     height: 100%
}

.containerpomo {
     display: flex;
     width: 100%;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
     flex-direction: column;
     align-items: center
}

.read_more-promo {
     border: #1a1a1a solid 2px;
     color: #1a1a1a;
     font-weight: 500;
     font-size: 17px;
     background-color: transparent;
     border: #1a1a1a solid 2px;
     color: #1a1a1a;
     padding: 15px 0;
     width: 100%;
     text-align: center;
     display: inline-block;
     transition: ease-in all .5s;
     font-weight: 500;
     border-radius: 40px
}

.promop {
     padding-bottom: 40px
}

.shop_img1 {
     height: 100%;
     width: 100%
}

.shop_img1 img {
     height: 100%;
     width: 100%
}

.shop_img1 figure {
     height: 100%;
     width: 100%
}

.phone3251 p{
     font-size: small;
}